/web/bundles/
/web/css/
/web/fonts/
/web/images/
/web/uploads/
/web/js/
/app/bootstrap.php.cache
/app/mails
/var/cache/*
/var/logs/*
/app/config/parameters.yml
/app/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
/build/
/vendor/
/bin/
/nbproject/private/
/nbproject/
