<!DOCTYPE html>
<html>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Ranking{% endblock %}</title>
    <meta name="title" content="{% block metaTitle %}{% endblock %}"/>
    <meta name="description" content="{% block metaDescription %}{% endblock %}"/> 
    <meta name="keywords" content="{% block metaKeywords %}{% endblock %}"/> 
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Language" content="es"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>
    <meta http-equiv="imagetoolbar" content="no"/>
    <meta http-equiv="contact" content=""/>
    <meta name="Author" content=""/>
    <meta name="Copyright" content=""/>
    <meta name="Distribution" content="Global"/>
    <meta name="Robots" content="index,follow"/>
    <meta name="revisit-after" content="1 month"/>
    <meta name="language" content="es"/>
    <meta name="DC.Creator" content=""/>
    {% block stylesheets %}
        {% stylesheets 
                'bundles/rankingfront/css/bootstrap.min.css'
                'bundles/rankingfront/css/jquery-ui.css'
                'bundles/rankingfront/css/styles.css'
                'bundles/rankingfront/css/colorbox/colorbox.css'
                'bundles/rankingfront/css/alertify/alertify.core.css'
                'bundles/rankingfront/css/alertify/alertify.default.css'
                'bundles/rankingfront/css/comurimage.css'
                'bundles/rankingfront/css/chosen/chosen.css'
                'bundles/rankingfront/css/datepicker/bootstrap-datepicker.min.css'
                'bundles/gwinntinymcefastload/css/*'
                output='css/*.css'
                filter='?yui_css'
        %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}  
    {% block javascripts %}
        {% javascripts
                'bundles/rankingfront/js/jquery-2.1.3.min.js'
                'bundles/rankingfront/js/jquery-ui.js'
                'bundles/rankingfront/js/bootstrap.min.js'
                'bundles/rankingfront/js/colorbox.min.js'
                'bundles/rankingfront/js/imagepicker.min.js'
                'bundles/rankingfront/js/alertify.min.js'
                'bundles/rankingfront/js/comurimage.js'
                'bundles/rankingfront/js/chosen.js'
                'bundles/rankingfront/js/bootstrap-datepicker.min.js'    
                'bundles/rankingfront/js/bootstrap-datepicker.es.min.js'
                'bundles/gwinntinymcefastload/js/*'
                filter='?yui_js'
        %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>
        {% endjavascripts %}
        <script type="text/javascript">
        </script>
    {% endblock %}
</head>
<body>
    {% block header %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block footer %}
    {% endblock %}
</body>
</html>