{% extends 'RankingFrontBundle::base.html.twig' %}

{% block content %}  
    <script>
        $(function() {
            $("#sortable").sortable();
            $("#sortable").disableSelection();
        });
    </script>
    <style>
        h1 { text-align:center }
        #sortable { list-style-type: none; margin: 0; padding: 0; width:30%; margin:auto; margin-top:20px; border:2px solid #CCC; }
        #sortable li { padding:10px; }
        #sortable li span { position: absolute; margin-left: -1.3em; }
    </style>
    <h1>Rankeani</h1>
    <ul id="sortable">
        <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Ombligo</li>
        <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Humo</li>
        <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Champion</li>
        <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Jefa</li>
        <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Cara de Mariano</li>
        <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>La wachi</li>
        <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>La novia de Aldano</li>
        <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>La cocinera</li>
        <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Capo</li>
    </ul>
{% endblock %}